:root{
    --primary-color: #217C74;
    --secondary-color: #e1ede8;
    --dark-color: #0f0f0f;
    --color1: #1E8FCD;
    --color2: #804A53;
    --color3: #81DED5;
    --color4: #2B217C;
    --color5: #7C5021;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main-header{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 10vh;
    background-color: var(--secondary-color);
    opacity: 0.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color1);
}

#logo{
    width: 10rem;
    height: 5rem;
    max-height: 10vh;
}

#logo img{
    width: 100%;
    height: 100%;
}

.full-page-section{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.background-one{
    background-image: url(../imgs/Background1.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

h1{
    text-transform: capitalize;
}

h1, #texto, #texto2{
    width: 40vw;
    height: 50vh;
    margin-top: 15vh;
    font-size: 10rem;
    color: var(--secondary-color);
    margin-left: 8vw;
}

#texto{
    font-size: 3rem;
    margin-top: 5vh;
}

#texto2{
    font-size: 3rem;
    margin-top: 5vh;
    color: #7C5021;
}

.background-two{
    background-image: url(../imgs/subtle-prism.svg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

#teste{
    color: #2B217C;
    font-size: 8rem;
}

#foto{
    width: 50vw;
    height: 50vh;
    padding-left: 15vw;
    padding-top: 30vh;
}

#foto img{
    max-width: 100%;
    max-height: 100%;
}